html,body,#map {
height:100%;
margin:0;
overflow:hidden;
padding:0;
width:100%;
}



#buffer-params {
background:rgb(255,255,255);
position:absolute;
top:100px;
left:-380px;
width: 380px;
z-index:1000;
height: 75px;
font-family: verdana,helvetica;
font-size: 12px;
}



#button-console {
min-height: 43px;

width: 100%;
position: absolute;
z-index: 999;
background: rgb(16,64,92);
background: linear-gradient(to bottom, #fff, rgb(16,64,92),rgb(16,64,92));
font-family: verdana,helvetica;
font-size: 14px;
/* background: rgba(16,64,92,0.9); */
}




#feedback {
color:#000;
font-family:arial;
height:auto;
margin:5px;
padding:10px;
position:absolute;
right:20px;
top:20px;
width:300px;
z-index:40;
}

#feedback a {
border-bottom:1px solid #888;
color:#444;
text-decoration:none;
}

#feedback a:hover,#feedback a:active,#feedback a:visited {
border:none;
color:#444;
text-decoration:none;
}

#note {
font-size:80%;
font-weight:700;
padding:0 0 10px;
}

.selected {
background-color:#ADD8E6!important;
}

#ownerParcelSwitch:hover, #addressSwitch:hover, #roadSwitch:hover {
	background-color: #feff00 !important;
}

#ownerParcelSwitch.selected:hover, #addressSwitch.selected:hover, #roadSwitch.selected:hover {
	background-color: #00FF29 !important;
}

.search_button:hover{
	background-color: #feff00 !important;
}

.search_wrapper {
-webkit-border-radius:5px;
background:rgb(255,255,255);
border:2px solid #666;
border-radius:5px;
height:29px;
position:relative;
top:-6px;
right:10px;
margin-left:10px;
margin-top:10px;
width:290px;
z-index:30;
float:right;
}


.search_wrapper.searchFix {
	position: absolute;
	top: 49px;
	left: 75px;
}

.searchbox {
background:none;
border:0;
border-collapse:collapse;
color:#444;
display:block;
float:left;
font-size:12px;
line-height:16px;
margin:0 6px;
outline:0;
padding:6px 0;
vertical-align:middle;
width:136px;
}

div.search_wrapper div.search_button a#locate {
background:url(images/simpleGeocoder.png) no-repeat 0 0;
border:none!important;
display:block;
float:left;
height:16px;
margin-left:7px;
margin-top:7px;
outline:0;
overflow:hidden;
padding:0!important;
width:16px;
}

div.search_wrapper a#ownerParcelSwitch {
background:url(images/ownerbutton.png) no-repeat 0 0;
}

div.search_wrapper a {
border:none!important;
display:block;
float:left;
height:23px;
margin:3px 3px 4px;
outline:0;
overflow:hidden;
padding-right:11px;
width:20px;
}

div.search_wrapper a#addressSwitch {
background:url(images/address.png) no-repeat 0 0;
}

div.search_wrapper a#roadSwitch {
background:url(images/road.png) no-repeat 0 0;
}

.rewrite a#clear {
-moz-user-select:none;
-ms-user-select:none;
-webkit-border-radius:0 0 0 0;
-webkit-user-select:none;
background:url(images/eraser.png) no-repeat 0 0;
background-color:#FFF;
border:2px solid #666;
border-radius:0 0 0 0;
color:#666;
cursor:pointer;
font-family:verdana,helvetica;
font-size:24px;
font-weight:700;
height:30px;
line-height:25px;
position:absolute;
top:39px;
user-select:none;
width:30px;
z-index:30;
}

div#measurementDiv {
background:rgb(255,255,255);
left: -387px;
position:absolute;
top:100px;
width: 370px;
visibility: visible !important;
font-family:verdana,helvetica;
}

.rewrite a#draw {
-moz-user-select:none;
-ms-user-select:none;
-webkit-border-radius:0 0 0 0;
-webkit-user-select:none;
background-color:#FFF;
border:2px solid #666;
border-radius:0 0 0 0;
color:#666;
cursor:pointer;
font-family:verdana,helvetica;
font-size:24px;
font-weight:700;
height:30px;
line-height:25px;
margin-left:66px;
position:absolute;
top:39px;
user-select:none;
width:30px;
z-index:30;
}

.rewrite a#bufferMode {
-moz-user-select:none;
-ms-user-select:none;
-webkit-border-radius:0 0 0 0;
-webkit-user-select:none;
background-color:#FFF;
border:2px solid #666;
border-radius:0 0 0 0;
color:#666;
cursor:pointer;
font-family:verdana,helvetica;
font-size:24px;
font-weight:700;
height:30px;
line-height:25px;
margin-left:33px;
position:absolute;
top:39px;
user-select:none;
width:30px;
z-index:30;
}

#tools {

position:relative;
top:10px;
margin-left:auto;
margin-right:auto;
width:625px;
/*
float:left;
margin-bottom:10px;
margin-right:10px;
*/
}
#tools > a {
	color:white;
	float:left;
	padding-left: 10px;
	cursor:pointer;
}
div.search_button {
float:left;
}

div#map_zoom_slider div.esriSimpleSliderIncrementButton {
-webkit-border-radius:5px 0 0 5px;
background-color:#FFF;
border:2px solid #666;
border-radius:5px 0 0 5px;
position:absolute;
top:39px;
z-index:30;
}

div#map_zoom_slider div.esriSimpleSliderDecrementButton {
-webkit-border-radius:0 5px 5px 0;
background-color:#FFF;
border:2px solid #666;
border-radius:0 5px 5px 0;
left:33px;
position:absolute;
top:39px;
z-index:30;
}

div#map_zoom_slider {
 left:10px; 
}

.esriSimpleSlider {
border:none!important;
}

.esriPopup {
z-index:100;
}

.rewrite #gallery {
display:inline-block;
left:67px;
position:absolute;
top:0;
z-index:999;
font-family: verdana, helvetica;
font-size: 13px;
}

.logo-med {
height:0;
margin:0;
padding:0;
visibility:hidden;
width:0;
}

#pclogo {
height:59px !important;
width: 57px !important;
margin:0;
padding:0;
position: absolute;
right: 15px;
bottom: 15px;
z-index: 30;

background: url("images/pueblo-logo.png") no-repeat 0 0 !important;
}


.calculating #pclogo {
	background: url("images/earth.gif") no-repeat 0 0 !important;
}

.rewrite div#gallery .dijitTitlePaneTitle {
-moz-user-select:none;
-ms-user-select:none;
-webkit-border-radius:0 0 0 0;
-webkit-user-select:none;
background:url(images/map.png) no-repeat 0 0;
background-color:#FFF;
border:2px solid #666;
border-radius:0 0 0 0;
color:#666;
cursor:pointer;
font-family:verdana,helvetica;
font-size:24px;
font-weight:700;
height:30px;
line-height:25px;
margin-left:32px;
padding:0!important;
position:absolute;
top:39px;
user-select:none;
width:30px;
z-index:30;
}

.dijitArrowNode {
background:none;
background-image:none!important;
height:0!important;
width:0!important;
}

:focus {
outline:none!important;
}

.esriScalebarLabel {
color:#FFF;
}

.map .container {
position:initial!important;
}


.calculating #map_container, body.calculating {
	cursor: progress !important;
}

#basemapGallery {
background:rgb(255,255,255);
}

.rewrite .dijitArrowButtonInner {
background:url(images/spriteArrows.png) no-repeat scroll 0 center;
height:0;
margin:0;
width:0;
}

.dijitButtonNode {
 /*
  
background:#fff url(images/buttonEnabled.png) repeat-x bottom left; 
border:1px solid silver;
border-bottom:1px solid #9b9b9b;
padding:.1em .2em .2em;
*/
}

.dijitPopup {
-webkit-overflow-scrolling:touch;
background-color:transparent;
border:0;
margin:0;
padding:0;
position:absolute;
}

table[id^='dijit_Menu_'] {
background:rgb(255,255,255);
font-family:verdana,helvetica;
font-size:16px;
line-height:25px;
width:200px;
}

.esriPrint {
padding:0 !important;
}

.esriPrint td.dijitStretch {

}
/*Controls the position of the print drop-down*/
#selectionTools ~ div[id^='dijit_form_ComboButton_'] table{
	margin-top:16px;
	width:241px;
}


/* .buttonMode td[id^='dijit_form_ComboButton_'] { */
.rewrite #tools td[id^='dijit_form_ComboButton_'] {
-moz-user-select:none;
-ms-user-select:none;
-webkit-border-radius:0 0px 0px 0;
-webkit-user-select:none;
background:url(images/print.png) no-repeat 0 0;
background-color:#FFF;
border:2px solid #666;
border-radius:0 0px 0px 0;
color:#666;
cursor:pointer;
font-family:verdana,helvetica;
font-size:24px;
font-weight:700;
height:30px;
line-height:25px;
margin-left:124px;
padding:0!important;
position:absolute;
top:39px;
user-select:none;
width:30px;
z-index:30;
}

tr.dijitMenuItemHover {
background:rgb(16,64,92);
color: white;
cursor:pointer;
}

.rewrite div[id^='dijit_form_ComboButton_'] {
left:54px!important;
right:auto!important;
top:93px!important;
z-index:1000!important;
}

.rewrite a.esriPrintout {
-moz-user-select:none;
-ms-user-select:none;
-webkit-border-radius:0 0px 0px 0;
-webkit-user-select:none;
background:url(images/printdone.png) no-repeat 0 0;
background-color:#FFF;
border:2px solid #666;
border-radius:0 0px 0px 0;
color:#666;
cursor:pointer;
font-family:verdana,helvetica;
font-size:24px;
font-weight:700;
height:30px;
line-height:25px;
margin-left:124px;
overflow:hidden;
padding:0!important;
position:absolute;
text-indent:100px;
top:39px;
user-select:none;
white-space:nowrap;
width:30px;
z-index:30;
}

div.search_wrapper div.search_button a#locate.processing {
background:#fff url(images/processingmini.gif) no-repeat 0 0!important;
}

a.drawOn,a.drawOff {
/* background:url(images/pencil.png) no-repeat 0 0; */
}

a.bufferModeOn,a.bufferModeOff {
/* background:url(images/buffer.png) no-repeat 0 0; */
}

.dijitArrowNodeInner,td.dijitStretch div[id^='_label'],td[id^='dijit_form_ComboButton_'] div.dijitArrowButtonChar {

}

div.processing td[id^='dijit_form_ComboButton_'],a.processing,div#gallery.processing .dijitTitlePaneTitle {
/* background:#fff url(images/processing.gif) no-repeat 3px 3px!important; */
}

.hide{
	
	display: none;
}

#output {
	position: absolute;
	
	
	max-height: 250px;

	bottom: 20px;
	width: 100%;
	
}

#output table {
	
	position: relative;
	width: 100%;
	table-layout: fixed;
}

.xhide #wrapper{
	
	padding-top: 0;
	padding-bottom: 0;
}



#wrapper {
/* background-color: rgba(53,64,30,0.9); */ 
background: rgb(16,64,92);
	background: linear-gradient(to bottom, #fff, rgb(16,64,92), rgb(16,64,92), rgb(16,64,92), rgb(16,64,92));
margin-left: 25%;
margin-right: 25%;
width: 56%;
padding-bottom: 10px;
max-height: 250px;	
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
-webkit-border-radius: 20px 20px 0px 0px;
border-radius: 20px 20px 0px 0px;
text-align: center;
}

#wrapper2 {
overflow: auto;
max-height: 237px;
}

.even{
	background-color: rgb(255,255,255);
}

.odd{
	background-color: rgb(255,243,197);
	
}

.rewrite #toggleOutput {
-moz-user-select:none;
-ms-user-select:none;
-webkit-border-radius:0 0px 0px 0;
-webkit-user-select:none;

background-color:#FFF;
border:2px solid #666;
border-radius:0 0px 0px 0;
color:#666;
cursor:pointer;
font-family:verdana,helvetica;
font-size:24px;
font-weight:700;
height:30px;
line-height:25px;
left:165px;
overflow:hidden;
padding:0!important;
position:absolute;
text-indent:100px;
top:39px;
user-select:none;
white-space:nowrap;
width:30px;
z-index:30;
}

.rewrite .open{
	background:url(images/eye.png) no-repeat 0 0;
background-color:#FFF;
}

.rewrite .closed{
background:url(images/eyeclosed.png) no-repeat 0 0;
background-color:#FFF;
}



.rewrite #legendToggle{
-moz-user-select:none;
-ms-user-select:none;
-webkit-border-radius:0 0px 0px 0;
-webkit-user-select:none;
background:url(images/key.png) no-repeat 0 0;
background-color:#FFF;
border:2px solid #666;
border-radius:0 0px 0px 0;
color:#666;
cursor:pointer;
font-family:verdana,helvetica;
font-size:24px;
font-weight:700;
height:30px;
line-height:25px;
left:198px;
overflow:hidden;
padding:0!important;
position:absolute;
text-indent:100px;
top:39px;
user-select:none;
white-space:nowrap;
width:30px;
z-index:30;
}

.rewrite #helpButton{
-moz-user-select:none;
-ms-user-select:none;
-webkit-border-radius:0 5px 5px 0;
-webkit-user-select:none;
background:url(images/help.jpg) no-repeat 0 0;
background-color:#FFF;
border:2px solid #666;
border-radius:0 5px 5px 0;
color:#666;
cursor:pointer;
font-family:verdana,helvetica;
font-size:24px;
font-weight:700;
height:30px;
line-height:25px;
left:231px;
overflow:hidden;
padding:0!important;
position:absolute;
text-indent:100px;
top:39px;
user-select:none;
white-space:nowrap;
width:30px;
z-index:30;
}

a.action.zoomTo{
	float:left;
	
}
.labels{
	color: white;
	font-family: verdana, helvetica;
	font-size: 16px;
	font-weight: 500;
}
.labels td, .centerCell{
	text-align:center;
}
.visible{}

.invisible{
	display: none;
}
.xhide{
	display:none;
}

.showx {opacity: 1 !important;}

#searchResults{
	position:absolute;
	right: 0px;
	opacity: 0;
	
	z-index: 1000;
}
div#openClose{
	cursor:pointer;
	width: 22px;
	height:150px;
	float: left;
}
div#openClose.noResults{
/* background:url(images/results.png) no-repeat 0 0; */
display:none;
}
.resultsWindow{
	position:relative;
	margin-left:22px;
	width:300px;
	height:100%;
	 background:rgb(16,64,92);
	background: linear-gradient(to bottom,rgb(16,64,92),rgb(16,64,92) ,#fff);
	padding-top: 1px;
    margin-top: -1px;
}
.buttonWrap{
	height:100%;
	float:left;
}

.searchSnapRight #resultsContent, .searchFreeFloat #resultsContent, .searchSnapLeft #resultsContent {
	width: 91%;
}

#resultsContent{

	background-color: rgb(255,255,255);
	height: 97%;
	
	margin-top: 0px;
	margin-left: 15px;
	margin-right: 15px;
	word-wrap: break-word;
	overflow:auto;
	font-family: verdana,helvetica;
	font-size: 12px;
}
.leftCell {
	text-align: left;
}

#resultsContent div:hover{
	background-color:rgb(252,185,241);
	
}
#resultsContent table{
	width:256px;
	}
#feedback{
	display:none;
}
#resultsContent div{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box; 
}
.resultsLabel {
	font-weight: bold;
	color: darkcyan;
	float: left;
	font-size:13px;
}
.resultsText{
	float:left;
	margin-left:12px;
}
.goToParcel {
	cursor:pointer;
	font-family: verdana, helvetica;
font-size: 13px;
font-weight: bold;
color: darkcyan;
}
.goToParcel:hover{
	color:red;
}


.dijitToggleButtonIconChar {
display: none !important;
}

.dijitDisplayNone {
	display:none !important;
}


.esriToggleButton span + input{
	display:none !important;
}

#measurementDiv .esriToggleButton .dijitButtonNode{
border: 2px solid #666;
cursor: pointer;
background-color: #fff;
font-family: verdana,helvetica;	
}

#measurementDiv > span input {
	-moz-user-select:none;
-ms-user-select:none;
-webkit-border-radius:5px 5px 5px 5px;
-webkit-user-select:none;
background: #fff url(images/area.png) no-repeat 8px 0px;
background-color:#FFF;
border:2px solid #666;
border-radius:5px 5px 5px 5px;
color:#666;
cursor:pointer;
font-family:verdana,helvetica;
font-size:24px;
font-weight:700;
height:35px;
line-height:25px;
overflow:hidden;
padding:0!important;
user-select:none;
white-space:nowrap;
width:50px;
z-index:30;
}
#measurementDiv > span + span input {
	background: #fff  url(images/length.png) no-repeat 8px 0px;
	
}

#measurementDiv > span + span + span input {
	background: #fff  url(images/point.png) no-repeat 8px 0px;
}

#measurementDiv > span + span + span + div {
	visibility: hidden;
}

#measurementDiv > span + span + span + div + span {
	position: absolute;
	top: 11px;
}

#measurementDiv .dijitButtonText {
	 padding: 13px; 
}


 input#buffer {
	-moz-user-select:none;
-ms-user-select:none;
-webkit-border-radius:5px 5px 5px 5px;
-webkit-user-select:none;
margin-left: 10px;
background-color:#FFF;
border:2px solid #666;
border-radius:5px 5px 5px 5px;
color:#666;
cursor:pointer;

}

#bufferLabelText {
	text-align: center;
	font-size:15px;
	padding-bottom:5px;
}
 #measurementDivLabel {
 	text-align: center;
	font-size:15px;
	padding-bottom:5px;
	
 }


div#noIconMode{
	top:-50px;
	text-align:center;
	position: absolute;
	width: 100%;
	display: none;
}

div#increment{
	/* display:none;
	top:0px;
	*/
	position:absolute;
}
div#decrement{
/*	disptop:0px;lay: none;
	
	*/
	
	position:absolute;
}

#iconToggle {
	-moz-user-select:none;
-ms-user-select:none;
-webkit-border-radius:0px 0px 5px 5px;
-webkit-user-select:none;
margin-left: 5px;
margin-right: 5px;
background-color:#FFF;
border:2px solid #666;
border-top-width: 0px;
border-radius:0px 0px 5px 5px;
color:#666;
cursor:pointer;
padding: 3px;
font-family: verdana,helvetica;
font-size: 14px;
}

#iconToggle:hover{
	color:red;

}

#iconToggleWrapper {
	margin-top:2px;
	
}

#print_button {
	position: relative;
	float:left;
}
#textButtonConsole {
	padding-top:10px;
	background-color: rgb(0,0,0);
	min-height: 35px;
	border: 2px solid #666;
	border-radius:0px 0px 5px 5px;
	-webkit-border-radius:0px 0px 5px 5px;
}

#textButtonConsole a{
	-moz-user-select:none;
-ms-user-select:none;
-webkit-border-radius:5px 5px 5px 5px;
-webkit-user-select:none;
margin-left: 5px;
margin-right: 5px;
background-color:#FFF;
border:2px solid #666;
border-radius:5px 5px 5px 5px;
color:#666;
cursor:pointer;
padding: 3px;
font-family: verdana,helvetica;
font-size: 14px;
display:inline-block;
}

#textZoomIn {
	margin-left: 15px !important;
}

#textHelp {
	margin-right: 15px !important;
}

.textMode #dijit_layout_ContentPane_2 {
	margin-left: 194px !important;
	margin-top: 54px !important;
}

.buttonMode #textPrint td[id^='dijit_form_ComboButton_'] {
	display: none;
}

.textMode a.esriPrintout {
background: url(images/button.png) no-repeat 0px 8px !important;
-moz-user-select:none;
-ms-user-select:none;
-webkit-border-radius:0 0px 0px 0;
-webkit-user-select:none;

border: none;
cursor:pointer;
font-family:verdana,helvetica;
font-size:24px;
font-weight:700;
height:39px;
line-height:25px;
margin-left:0px !important;
padding:0!important;
position:absolute;
top:-2px;
user-select:none;
width:42px;
z-index:30;
}

#noIconMode .esriPrint {
margin-left: 7px;
margin-right: 6px;
width: 44px;
margin: 0;
padding: 0;
display: inline-block;
}

#textPrint {
	display: inline-block;
}

.textMode #noIconMode #textButtonConsole td[id^='dijit_form_ComboButton_'] {
-moz-user-select:none;
-ms-user-select:none;
-webkit-border-radius:0 0px 0px 0;
-webkit-user-select:none;
background:url(images/button.png) no-repeat 0px 8px;
border: none;
cursor:pointer;
font-family:verdana,helvetica;
font-size:24px;
font-weight:700;
height:39px;
line-height:25px;
margin-left:0px;
padding:0!important;
position:absolute;
margin-top: -27px;
user-select:none;
width:42px;
z-index:30;
}

#button-console.invisible #tools {
	display: none;
}

 #increment {
	/*display: none;*/
}

 #decrement {
	/*display: none;*/
}

#expButton {
	color: white;
text-decoration: none;
font-family: verdana,helvetica;
font-size: 16px;
}

#toolbarWrapper {

}

#basemapGallery {
	color: black;
	font-size: 12px;
}

#gallery{
	color:white;
	float:left;
	padding-left: 20px;
}

#gallery span.dijitTitlePaneTextNode {
	cursor:pointer;
	text-shadow: 2px 1px #171212;
}
#gallery span.dijitTitlePaneTextNode:hover {
	color: #fffd4d;
	
}


#gallery span.dijitArrowNodeInner{
	display:none;
}

#print_button {
	color:white;
	padding-left: 20px;
	text-shadow: 2px 1px #171212;
	cursor: pointer;
	
}
#print_button:hover, #print_button a:hover {
	color: #fffd4d;
	
}


#print_button a {
	color: white;
	text-decoration: none;
}
#dijit_layout_ContentPane_2 {
	margin-top: 16px !important;
	margin-left: 0px !important;
	position:absolute;
	z-index: 1000;
}


#close {
height: 8px;
color: white;
padding-bottom: 10px;
text-align: right;
margin-right: 13px;
font-family: verdana,helvetica;
cursor:pointer;
float:right;
}
#close:hover{
	color:yellow;
}


#exportResults {
color: white;
font-family: verdana, helvetica;
float: left;
padding-left: 13px;	
cursor: pointer;
}

#exportResults:hover{
	color:yellow;
}

#tools > a {
	text-shadow: 2px 1px #171212;
}

#tools > a:hover {
	color: #fffd4d;
	
}

#selectionTools.hide{

}

#selectionTools {
	position: absolute;
	top:43px;
	left: 128px;
	/* background: rgba(255,255,255,0.95);*/
	color: white;
text-shadow: 2px 1px #000;
background: radial-gradient(circle farthest-corner at bottom right, #fff, rgb(16,64,92));
	font-family: verdana,helvetica;
	z-index: 1000;
	opacity:0;
	font-size: 14px;
	
}


#selectionTools label {
	cursor:pointer;
}

#selectionTools label:hover, .spacer1 label:hover {
	color:red;
}



#toolSelect {
float: left;
padding: 10px 21px 10px 10px;
border-left: 0px;
border-top: 0px;
border-right: 2px;
border-bottom: 0px;
border-style: solid;

}

#infoSelect {
float: left;
padding: 10px;

}

#toolSelectTitle, #infoSelectTitle {
	padding-bottom: 5px;
	font-weight: bold;
}

.selectLabel {
	float: left;
padding-top: 5px;
font-weight: bold;
padding-left: 10px;
}
.spacer1 {
	padding-top: 2px;
}
#junk {
	position: absolute;
	color: white;
}

.zoomActive #zoom {
	background: url("images/icons/rbzoomhover.png") no-repeat 0 0;
}

#zoom {
	background: url("images/icons/rbzoom.png") no-repeat 0 0;
height: 30px;
width: 30px;	
}

#zoom:hover {
	background: url("images/icons/rbzoomhover.png") no-repeat 0 0;
}

.panActive #pan {
	background: url("images/icons/panhover.png") no-repeat 0 0;
}

#pan {
background: url("images/icons/pan.png") no-repeat 0 0;
height: 30px;
width: 30px;
}

#pan:hover {
background: url("images/icons/panhover.png") no-repeat 0 0;
}
#clear {
background: url("images/icons/clear.png") no-repeat 0 0;
height: 30px;
width: 30px;
}

#clear:hover {
background: url("images/icons/clearhover.png") no-repeat 0 0;
}

#selection {
background: url("images/icons/select.png") no-repeat 0 0;
height: 30px;
width: 30px;
}

#selection:hover {
background: url("images/icons/selecthover.png") no-repeat 0 0;
}

.selectActive #selection {
	background: url("images/icons/selecthover.png") no-repeat 0 0;
}

#helpButton {
	/*
background: url("images/icons/help.png") no-repeat 0 0;
height: 30px;
width: 30px;
*/
}

#draw {
background: url("images/icons/measure.png") no-repeat 0 0;
height: 30px;
width: 30px;
}

#draw:hover {
background: url("images/icons/measurehover.png") no-repeat 0 0;
}

#bufferMode {
background: url("images/icons/buffer.png") no-repeat 0 0;
height: 30px;
width: 30px;
}

#bufferMode:hover {
	background: url("images/icons/bufferhover.png") no-repeat 0 0;
}

#toggleOutput {
background: url("images/icons/favorites.png") no-repeat 0 0;
height: 30px;
width: 30px;
}

#toggleOutput:hover {
	background: url("images/icons/favoriteshover.png") no-repeat 0 0;
}

#legendDiv {
position: absolute !important;
right: 0px;
top: 43px;
z-index: 500;
height: 300px;
overflow: auto;
background-color: white;
width: 300px;
}
.searchSnapBottom #searchResults{
	left:0px !important;
	height: 175px !important;
}
.searchSnapRight #searchResults{
	width:322px;
	top: 43px !important;
}


.searchSnapLeft #searchResults{
	width:322px;
	top: 43px !important;
	
}

.searchFreeFloat #searchResults {
	width: 322px;
}
.searchSnapBottom #searchResults .resultsWindow{
	width:100%;
	margin-left: 0px;
}

.searchSnapBottom #searchResults #resultsContent{

	margin-top:19px;
	height: 150px;
}

#dockButton {
	color: white;
font-family: verdana,helvetica;
font-size: 16px;
float: left;
margin-left: 38px;
}

.ssbInitial #searchResults{
	
}
#resultsContent{}
.searchSnapBottom #resultsContent {}
.searchSnapBottom .fit{}
.searchSnapBottom .fit  div, .searchSnapBottom  .fit + a{}
.searchSnapBottom  div.even,.searchSnapBottom div.odd {
	width:auto;
	min-width:2000px;
}
.searchSnapBottom .resultsText{
	margin-right: 10px;
}
.searchSnapBottom table {
	width:100%;
}
.searchSnapBottom .resultsLabel {
	width:100%;
	
}
.searchSnapBottom #resultsContent td {
	vertical-align: top;
	width:125px;
}
.searchSnapBottom #resultsContent table {
	width: auto;
min-width: 2519px;
	
}

.searchSnapBottom #resultsContent td.ownName {
	width: 200px;
}
.searchSnapBottom #resultsContent td.ownOverflow {
	width: 200px;
}
.searchSnapBottom #resultsContent td.fips {
	width: 50px;
}
.searchSnapBottom #resultsContent td.ownCity {
	width: 75px;
}
.searchSnapBottom #resultsContent td.ownState {
	width: 100px;
}
.searchSnapBottom #resultsContent td.ownZip {
	width: 110px;
}
.searchSnapBottom #resultsContent td.impActVal {
	width: 200px;
}
.searchSnapBottom #resultsContent td.impAssVal {
	width: 200px;
}
.searchSnapBottom .sTall{
	display:none;
}

.searchSnapLeft .sWide, .searchSnapRight .sWide,.searchFreeFloat .sWide {
	display:none;
}

.searchSnapLeft td, .searchSnapRight td, .searchFreeFloat td {
	float:left;
}
